@model ArquivosModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.arquivoNome;
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form asp-controller="Arquivos" asp-action="Editar" method="post">

    <div class="row">
        <div class="col-md-2">
            <labal class="form-label">Identificação</labal>
            <input type="text" asp-for="IdArquivo" class="form-control" disabled />
        </div>
        <div class="col-md-2">
            <labal class="form-label">Data de criação</labal>
            <input type="text" asp-for="arquivoDataCadastro" class="form-control" disabled />
        </div>
        <div class="col-md-2">
            <labal class="form-label">Ultima alteração</labal>
            <input type="text" asp-for="arquivoDataAlteracao" class="form-control" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <labal class="form-label">Nome do projeto</labal>
            <input type="text" asp-for="arquivoNome" class="form-control">
            @Html.ValidationMessageFor(x => x.arquivoNome)
        </div>
        <div class="col-md-6">
            <labal class="form-label">Nome empresa</labal>
            <input type="text" asp-for="arquivoEmpresa" class="form-control">
            @Html.ValidationMessageFor(x => x.arquivoEmpresa)
        </div>
        <div class="col-md-6">
            <labal class="form-label">Localidade</labal>
            <input type="text" asp-for="arquivoLocalidade" class="form-control">
            @Html.ValidationMessageFor(x => x.arquivoLocalidade)
        </div>
        <div class="col-md-6">
            <labal class="form-label">Numero caderno</labal>
            <input type="text" asp-for="arquivoCaderno" class="form-control">
            @Html.ValidationMessageFor(x => x.arquivoCaderno)
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-danger" asp-controller="Arquivos" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-block btn-success">Atualizar</button>
    </div>
</form>
