@model EngenheirosModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.Nome;
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form asp-controller="Engenheiros" asp-action="Editar" method="post">

    <div class="row">
        <div class="col-md-2">
            <labal class="form-label">Identificação</labal>
            <input type="text" asp-for="Id" class="form-control" disabled/>
        </div>
        <div class="col-md-2">
            <labal class="form-label">Data de criação</labal>
            <input type="text" asp-for="dataCadastro" class="form-control" disabled/>
        </div>
        <div class="col-md-2">
            <labal class="form-label">Ultima alteração</labal>
            <input type="text" asp-for="dataAlteracao" class="form-control" disabled />
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <labal class="form-label">Nome completo</labal>
            <input type="text" asp-for="Nome" class="form-control">
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div class="col-md-6">
            <labal class="form-label">N° CPF</labal>
            <input type="text" data-mask="000.000.000-00" asp-for="CPF" class="form-control" maxlength="14">
            @Html.ValidationMessageFor(x => x.CPF)
        </div>
        <div class="col-md-6">
            <labal class="form-label">N° CREA</labal>
            <input type="text" asp-for="CREA" class="form-control">
            @Html.ValidationMessageFor(x => x.CREA)
        </div>
        <div class="col-md-6">
            <labal class="form-label">E-mail</labal>
            <input type="text" asp-for="Email" class="form-control">
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-danger" asp-controller="Engenheiros" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-block btn-success">Atualizar</button>
    </div>
</form>
