@model EmpresasModel
@{
    ViewData["Title"] = "Adicionar empresa";
}

<form asp-controller="Empresas" asp-action="Adicionar" method="post" class="form-control row g-3">
    <div class="text-center">

        <h1>Formulario de cadastro de empresas.</h1>
        <p>Preencha todos os campos obrigatorios para inserir uma empresa.</p>
    </div>

    <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-secondary">Informações</span>
                <span class="badge bg-success rounded-pill">CADASTRO</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Responsável Comercial</h6>
                        <small class="text-muted">@Model.empresaComercialCargo</small>
                    </div>
                    <span class="text-muted">@Model.empresaComercialNome</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">Responsável Empresa</h6>
                        <small class="text-muted">@Model.empresaResponsavelCargo</small>
                    </div>
                    <span class="text-muted">@Model.empresaResponsavelNome</span>
                </li>
                <br />
                <a class="btn btn-success" asp-controller="Usuarios" asp-action="Index" role="button"><i class="bi bi-back"></i> &nbsp;Adicionais</a>
            </ul>
        </div>
        <div class="col-md-7 col-lg-8">
            <div class="row">
                <div class="col-sm-6">
                    <labal class="form-label">Razão Sócial</labal>
                    <input type="text" asp-for="empresaRazao" class="form-control">
                </div>
                <div class="col-sm-6">
                    <labal class="form-label">Nome Fántasia</labal>
                    <input type="text" asp-for="empresaFantasia" class="form-control">
                </div>
                <div class="col-sm-12">
                    <labal class="form-label">CNPJ</labal>
                    <input type="text" name="cnpj" data-mask="00.000.000/0000-00" asp-for="empresaCNPJ" class="form-control" maxlength="18">
                </div>

                <h1 class="text-center">
                    -----------------------------------------
                </h1>

                <div class="col-md-4">
                    <labal class="form-label">CEP</labal>
                    <input type="text" data-mask="00.000-000" asp-for="empresaRuaCep" class="form-control" maxlength="10">
                </div>
                <div class="col-md-8">
                    <labal class="form-label">Rua</labal>
                    <input type="text" asp-for="empresaRua" class="form-control">
                </div>
                <div class="col-md-6">
                    <labal class="form-label">Bairro</labal>
                    <input type="text" asp-for="empresaRuaBairro" class="form-control">
                </div>
                <div class="col-md-6">
                    <labal class="form-label">Estado</labal>
                    <input type="text" asp-for="empresaRuaEstado" class="form-control">
                </div>
                <div class="col-md-6">
                    <labal class="form-label">Cidade</labal>
                    <input type="text" asp-for="empresaRuaCidade" class="form-control">
                </div>
                <div class="col-md-6">
                    <labal class="form-label">Numero</labal>
                    <input type="text" asp-for="empresaRuaNumero" class="form-control">
                </div>

            </div>
        </div>
    </div>
    <br />
    <a class="btn btn-danger" asp-controller="Empresas" asp-action="Index" role="button"><i class="bi bi-back"></i> &nbsp;Voltar</a>
    <button type="submit" class="btn btn-block btn-success"><i class="bi bi-check-lg"></i> &nbsp;Atualizar</button>
</form>