@model EmpresasModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Model.empresaRazao;
}

<div class="text-center">

    <h1>Formulario de cadastro de projetos</h1>
    <p>Informe todos os dados dos campos obrigatorios para adicionar um projeto.</p>
    <br />
</div>

<form asp-controller="Empresas" asp-action="Editar" method="post">

    <div class="row">
        <div class="col-md-2">
            <labal class="form-label">Identificação</labal>
            <input type="text" asp-for="IdEmpresa" class="form-control" disabled />
        </div>
        <div class="col-md-2">
            <labal class="form-label">Data de criação</labal>
            <input type="text" asp-for="empresaDataCadastro" class="form-control" disabled />
        </div>
        <div class="col-md-2">
            <labal class="form-label">Ultima alteração</labal>
            <input type="text" asp-for="empresaDataAlteracao" class="form-control" disabled />
        </div>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-danger" asp-controller="Empresas" asp-action="Index" role="button">Voltar</a>
        <button type="submit" class="btn btn-block btn-success">Atualizar</button>
    </div>
</form>
